# Misc.
coinbase>=1.8.1
coinbase-advanced-py>=1.8.1
python-dotenv>=1.0.1
pymssql>=2.3.2
# Data analysis libraries
pandas>=2.2.3
numpy>=2.1.3
scikit-learn>=1.6.1
jupyterlab>=4.2.6
# Data visualization
matplotlib>=3.10
openpyxl>=3.1
anywidget>=0.9.13
seaborn>=0.13.2
# Plotly graphs and dashboards
plotly>=6.0.0
plotly[express]
dash>=2.18.2
setuptools>=75.6.0
packaging>=24.2